.task-item{
    display: flex;
    padding: 1rem 12px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    width: 100%;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.left, .right{
    display: flex;
    align-items: center;
}

.checkbox-cont, .icon:first-child{
    margin-right: 1rem;
}

.task-item{
    justify-content: space-between;
    margin-bottom: 12px;
}

.icon{
    transition: 0.3s;
    cursor: pointer;
}

.icon:hover{
    color: #fff;
}

.checkbox{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    -webkit-appearance: none;
    padding: 12px;
    background-color: #fff;
    border-radius: 3px;
    border: 2px solid #000;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.checkbox:checked{
    border: 2px solid #fff;
    background-color: #000;
}

.checkbox:checked:after {
	content: "";
	top: 3px;
	border-color: #fff;
	border-style: solid;
	border-width: 0 3px 3px 0;
	transform: rotate(45deg);
	width: 5px;
	height: 12px;
	color: #fff;
	font-size: 1rem;
	font-weight: bold;
	position: absolute;
}